html {
  box-sizing:border-box;
  font-family: 'Noto Serif Display', serif;
  color: #000000;
}

*::selection {
    color: white;
    background-color: black;
}

h2, h3 {
    font-family: 'Noto Serif Display', serif;
}

  
.description::after {
    content: "👨🏼‍💻";
}  

/* ##################################################### */
.body {
    margin: 0;
    padding: 15px;
    max-width: 800;
    border: 5px solid rgb(191, 227, 187);
}

.header {
    text-align: center;
    background-color: rgb(191, 227, 187);
    padding: 50px 15px;
}


.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
}

.main > * {
    border-top: 5px solid lightgray;
  }
    
.nav-link {
    margin: 10px;
    padding: 4px 8px;
}

.nav-link:hover {
    color: lightsalmon;
}

.link-burg:hover {
    color: red;
}

body > header, main {
    /* text-align: center; */
    padding: 50px;  
}

footer {
    /* text-align: center; */
    margin: auto;
    padding: 15px;
    max-width: 800px;
    border-top: 5px solid lightgray;  
}



/* ################################################
Contact */


.adress-link-mail:hover {
    color: gray;
}
.adress-link-github:hover {
    color: gray;
}
.adress-link-linkedin:hover {
    color: gray;
}
.adress-link-agb:hover {
    color: gray;
}


.adress-link-mail::before {
    content: "Mail:";
}
.adress-link-linkedin::before {
    content: "LinkedIn:";
}
.adress-link-github::before {
    content: "Github:";
}
.adress-link-agb::before {
    content: "AGB`s:";
}