html {
    background-color: rgba(144, 103, 87, 0.618);
    font-size: 20px;
    box-sizing:border-box;
    font-family: 'Bebas Neue', cursive;
    color: #000000;
}

h2, h3 {
    font-family: 'Signika Negative', sans-serif;
}

.description::after {
    content: "👨🏼‍💻";
}  

/* ##################################################### */
.body {
    margin: 0;
    padding: 1rem;
    
}

.header {
    max-width: 72ch;
    position: static;
    text-align: center;
    background-color: rgb(191, 227, 187);
    font-size: 1rem;
    padding: 1rem 1rem;
    padding-top: 5em;
    margin: 0 auto;
}

.heading-group {
    font-size: 1rem;
}

.hire-me {
    position: relative;
    height: 1em;
    width: 4em;
    left: 35em;
    bottom: 12em;
    background-color: salmon;
    color: black;
    border-radius: 4em;
    padding: .5em;
}

.nav-link {
    padding: .5em;
}
.nav-link:hover {
    color: lightsalmon;
}

.main {
    max-width: 72ch;
    margin: 0 auto;
    padding: 1em;
    border: .1em solid red;
    
}

.main > * {
    border-top: .1em solid lightgray;
    padding: 0 1em;
}

article {
    font-family: 'Signika Negative', sans-serif;
    max-width: 40rem;
    font-size: .8rem;
    
}

.link-burg:hover {
    color: red;
}

section > H3 {
    position: relative;
    left: -1em;
}

section > p {
    position: relative;
    left: .2em;
    
}

footer {
    max-width: 70ch;
    margin: auto;
    padding: 1rem;
     
}

.footer > * {
    border-top: .1em solid lightgray;
    
}

.experiences {
    display: inline-block;
  }

.skills {
    display: inline-block;
}
  
h2 {
    position: relative;
    left: -1em;
}

.h3-header {
    display: inline-block;
    
  }



/* ################################################
Contact */


.adress-link-mail:hover {
    color: gray;
}
.adress-link-github:hover {
    color: gray;
}
.adress-link-linkedin:hover {
    color: gray;
}
.adress-link-agb:hover {
    color: gray;
}


.adress-link-mail::before {
    content: "Mail:";
}
.adress-link-linkedin::before {
    content: "LinkedIn:";
}
.adress-link-github::before {
    content: "Github:";
}
.adress-link-agb::before {
    content: "AGB`s:";
}