/* ######### - Style - #########  */
html {
    background-color: #FBE0C3;
    color: #262220;
    _border: .4rem solid #7D8E95;
    box-sizing: border-box;
    position: relative;
    font-family: 'Roboto Mono', monospace;
    margin-inline: auto;
    max-width: 800px;
}

h1,
h2, 
h3 {
    font-family: 'Roboto Mono', monospace;
}
/* ######### - Header - #########  */

.header {
    _border: .4rem solid red;
    background-color: #FFBB9B;
    text-align: center;
}

.heading > h1 {
    color: #344648;
    margin: 1rem;
    padding: .8rem;
}

.trainee::after {
 content: " 😇";
}

.nav-link {
    _border: 1px solid red;
    margin: .2rem;
    padding: .2rem;
    
}

.hire-me {
    _border:1px solid red;
    background-color: red;
    position: sticky;
    width: 2.5rem;
    border-radius: 50%;
    padding: .4rem;
    
}
/* ######### - Main - #########  */

main > article {
    border-top: .4rem solid #7D8E95;
}

main > article > p {
    margin-left: 1rem;
}

.main-h3 {
    margin-left: 1rem;
}
.skills-ul {
    margin-left: 1.5rem;
}
/* ######### - Footer - #########  */

.contact {
    border-top: .4rem solid #7D8E95;
}

.mail::before {
    content: "Mail to: ";  
}

.phone::before {
    content: "Mobile: ";
}

.github::before {
    content: "Github: ";
}

.footer > article > a {
    margin-left: 1.5rem;
}

.footer > article > ul > li {
    margin-left: 1.5rem;
}
